.arc-radio-container {
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 1.375rem;
}

.arc-radio-container * {
	font-family: "Open Sans", sans-serif;
	text-align: left;
	color: black;
}

.arc-radio {
	position: relative;
	height: 1rem;
}

.arc-radio-input {
	opacity: 0;
	margin: 0;
	position: absolute;
	width:1rem;
	height:1rem;
}

.arc-radio-inner {
	outline: 0px solid white;		
	position: relative;
	height: 1rem;
	width: 1rem;
	display: inline-block;
	border: 1px solid #C7C9D1;
	border-radius: 1rem;
	transition: 0.2s;
}

.arc-radio-container:not(.arc-disabled):hover .arc-radio-inner {
	border: 1px solid #0053FE;
	transition: 0.2s;
}

.arc-radio-container:focus-within .arc-radio-inner {
	outline: 2px solid #CCDDFF;
	transition: 0.2s;
}

.arc-radio-input:checked + .arc-radio-inner{
	border: 1px solid #0053FE;
	transition: 0.2s;
}

.arc-radio-input:checked + .arc-radio-inner::after {
	display: block;
	position: absolute;
	content: "";
	width:0.5rem;
	height:0.5rem;
	background-color: #0053FE;
	top:50%;
	left:50%;
	border-radius: 1rem;
	transform: translate(-50%,-50%);
}

.arc-disabled .arc-radio-inner {
	border: 1px solid #C7C9D1;
	background-color: #F2F2F4;
	transition: 0.2s;
}

.arc-radio-label {
		padding-inline-start: 0.313rem;
		padding-inline-end: 0.313rem;
}

.arc-disabled .arc-radio-label {
	color: #A7A8AC;
}