// PRIMARY COLORS
$color-primary-100: #0053FE;
$color-primary-80: #3375FE;
$color-primary-60: #6698FE;
$color-primary-40: #99BAFF;
$color-primary-20: #CCDDFF;
$color-primary-10: #E6EEFF;
$color-primary-dark: #0043CC;

// DARK COLORS
$color-dark-100: #23262F;
$color-dark-80: #4F5159;
$color-dark-60: #7B7D82;
$color-dark-40: #A7A8AC;
$color-dark-20: #D3D4D5;
$color-dark-10: #E9EAEB;

// SLATE COLORS
$color-slate-100: #74798C;
$color-slate-80: #9094A3;
$color-slate-60: #ACAFBA;
$color-slate-40: #C7C9D1;
$color-slate-20: #E3E4E8;
$color-slate-10: #F2F2F4;

// GRAY COLORS
$color-gray-100: #CAD4D8;
$color-gray-80: #D5DDE0;
$color-gray-60: #DFE5E8;
$color-gray-40: #EAEEEF;
$color-gray-20: #F4F6F7;
$color-gray-10: #FAFBFC;

// SUCCESS COLORS
$color-success-100: #2BE376;
$color-success-80: #37D778;
$color-success-60: #87E7AE;
$color-success-40: #AFEFC9;
$color-success-20: #D7F7E4;
$color-success-10: #EBFBF2;
