.arc-tag {
    font-size: 0.75rem;
    padding: 0.25rem 0.625rem;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-radius: 0.375rem;
    line-height: 100%;
}

.arc-tag-primary {
    background-color: #CCDDFF;
    color: #0053FE;
}

.arc-tag-neutral {
    background-color: #F2F2F4;
    color: #5C6070;  
}

.arc-tag-success {
    background-color: #D7F7E4;
    color: #19C25E;
}

.arc-tag-warning {
    background-color: #FFE1B4;
    color: #FC9939;
}

.arc-tag-error {
    background-color: #FFDCDD;
    color: #F1272D;  
}

.arc-tag-purple {
    background-color: #E7DFFD;
    color: #672FF3;  
}

.arc-tag-teal {
    background-color: #D2F5F8;
    color: #1AA4B2;  
}

.arc-tag-orange {
    background-color: #FFE4D9;
    color: #FF530F;  
}