/* Ink Colors */

.c-ink-100 {
    color: #23262F;
}

.c-ink-80 {
    color: #4F5159;
}

.c-ink-60 {
    color: #7B7D82;
}

.c-ink-40 {
    color: #A7A8AC;
}

.c-ink-20 {
    color: #D3D4D5;
}

.c-ink-10 {
    color: #E9EAEB;
}

/* Smoke Colors */

.c-smoke-100 {
    color: #74798C;
}

.c-smoke-80 {
    color: #9094A3;
}

.c-smoke-60 {
    color: #ACAFBA;
}

.c-smoke-40 {
    color: #C7C9D1;
}

.c-smoke-20 {
    color: #E3E4E8;
}

.c-smoke-10 {
    color: #F2F2F4;
}

/* Silver Colors */

.c-silver-100 {
    color: #CAD4D8;
}

.c-silver-80 {
    color: #D5DDE0;
}

.c-silver-60 {
    color: #DFE5E8;
}

.c-silver-40 {
    color: #EAEEEF;
}

.c-silver-20 {
    color: #F4F6F7;
}

.c-silver-10 {
    color: #FAFBFC;
}