@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

.doc {
    display: none;
}
[data-arc-doc=js] .doc-js  {
    display: block;
}
[data-arc-doc=react] .doc-react {
    display: block;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #4F5159;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h2  {
   font-size: 28px;
   font-weight: 500; 
   margin-top: 2rem;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 2rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.view {
    display: flex;
    justify-content: space-between;
}

.content {
    max-width: 762px;
    padding: 0 2rem;
}


.index {
    flex: 0 1 260px;
    box-sizing: border-box;
    padding-right: 2rem;
    font-size: 0.8rem;
}

.index-wrapper {
    position: sticky;
    top: 1.33em;
}

.index * {
    font-family: 'Open Sans', sans-serif;
}

.index h4 {
    padding-left: 1rem;
    margin-bottom: 0;
}

.index hr {
    margin-left: 1rem;
}

.index ul {
    padding-inline-start: 0;
}

.index ul ul {
    padding-inline-start: 2rem;
}

.index li {
    list-style-type: none;
}

.index li a:hover {
    color:#0053fe
}

.index a {
    text-decoration: none;
    color: #ACAFBA;
    display: block;
}

.toc-link {
    border: 1px solid transparent;
    padding-left: 1rem;
}

.toc-link:hover {
    border-left: 1px solid #0053fe;
}

.table {
    border-top: 1px solid #A7A8AC;
    border-collapse: collapse;
    width: 100%;
}

.table th {
    text-align: left;
}

.table thead {
    border-bottom: 1px solid #A7A8AC;
}

.table tr {
    border-top: 1px solid #E9EAEB;
    line-height: 2.5rem;
    vertical-align: middle;
}

.monospace {
    font-family: 'Courier Primer', monospace;
    font-size: 14px;
    color: #23262F;
    font-weight: 700;
}

.code {
    font-family: 'Courier Prime', monospace;
    font-size: 14px;
    line-height: 100%;
    color: #3d4149;
    background-color: #E3E4E8;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.row {
    display: flex;
    gap: 2rem;
}

.col {
    flex: 1 0 0px;
    width: 0;
}

.snippet {
    background: #F4F6F7;
    border: 1px solid #CAD4D8;
    border-radius: 0.75rem;
    padding: 1rem;
}

pre {
    white-space: pre-wrap;
}

.snippet-header {
    display: flex;
    justify-content: end;
    align-items: center;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(50px, 0);
    }

    7.5% {
        opacity: 1;
        transform: translate(0px, 0);
    }

    90% {
        opacity: 1;
        transform: translate(0px, 0);
    }

    100% {
        opacity: 0;
        transform: translate(50px, 0);
    }
}

.snippet-copied {
    font-family: 'Open Sans', sans-serif;
    animation: fadeInOut 3500ms ease-in-out 0ms forwards;
    color: #74798C;
    font-size: 14px;
    margin-right: 1rem;
}