@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #4F5159;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h2  {
   font-size: 28px;
   font-weight: 500; 
}

h3 {
    font-size: 22px;
    font-weight: 500;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.table {
    border-top: 1px solid #A7A8AC;
    border-collapse: collapse;
    width: 100%;
}

.table th {
    text-align: left;
}

.table thead {
    border-bottom: 1px solid #A7A8AC;
}

.table tr {
    border-top: 1px solid #E9EAEB;
    line-height: 2.5rem;
    vertical-align: middle;
}

.monospace {
    font-family: 'Courier Primer', monospace;
    font-size: 14px;
    color: #23262F;
    font-weight: 700;
}

.code {
    font-family: 'Courier Prime', monospace;
    font-size: 14px;
    line-height: 100%;
    color: #3d4149;
    background-color: #E3E4E8;
    padding: 0.25rem;
    border-radius: 0.25rem;
}