

.hero {
    text-align: center;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    color: #23262F;
    font-size: 4rem;
    margin: 0;
    width: 80%;
}

.hero h3 {
    width: 80%;
    color: #7B7D82;
    font-weight: 300;
    letter-spacing: 0.075rem;
}

.wave {
    line-height: 0;
}

.frameworks-container {
    text-align: center;
    background-color: #0c57a2;
    color: #ffffff; 
    margin-top: 0;
    padding: 0 0 2rem 0;
    min-height: 300px;
}

.frameworks-container h1 {
    margin: 0;
}

.framework-selector {
    margin-top: 4rem;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 4rem;
}

.framework-content {
    display: none;
}

.frameworks-container[data-active-fw="js"] .framework-content[data-fw="js"] {
    display: block;
}
.frameworks-container[data-active-fw="react"] .framework-content[data-fw="react"] {
    display: block;
}
.frameworks-container[data-active-fw="angular"] .framework-content[data-fw="angular"] {
    display: block;
}
.frameworks-container[data-active-fw="vue"] .framework-content[data-fw="vue"] {
    display: block;
}
.frameworks-container[data-active-fw="svelte"] .framework-content[data-fw="svelte"] {
    display: block;
}

.framework {
    cursor: pointer;
}

.framework:not(.active) {
    filter: sepia(100%) hue-rotate(170deg) brightness(0.8) saturate(1.2);
}

.framework:hover {
    filter: none;
}

h2 {
    font-size: 3rem;
}


h5 {
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

a {
    color: #ACAFBA;
    text-decoration: none;
    line-height: 150%;
}

a:hover {
    color: #0053FE;
}

.footer {
    padding: 4rem 0rem;
}