@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

.hero {
    text-align: center;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    color: #23262F;
    font-size: 5.5rem;
    font-weight: 800;
    margin: 0;
    width: 80%;
    --hero-from-color: #2271f0;
    --hero-to-color: #a8c7e9;
    background-image: linear-gradient(to right, var(--hero-from-color), var(--hero-to-color));
    background-clip: text;
    background-position: top left;
    -webkit-text-fill-color: transparent;
}

.hero h3 {
    width: 80%;
    color: #7B7D82;
    font-weight: 300;
    letter-spacing: 0.075rem;
}

.wave {
    line-height: 0;
}

.frameworks-container {
    text-align: center;
    margin-top: 0;
    padding: 0 0 2rem 0;
    min-height: 300px;
}

.frameworks-container h1 {
    margin: 0;
}

.framework-selector {
    margin-top: 4rem;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 0.75rem;
}

.framework-content {
    display: none; 
}

.snippet {
    background: #F4F6F7;
    border: 1px solid #CAD4D8;
    border-radius: 0.75rem;
    padding: 1rem;
}



.frameworks-container[data-active-fw="js"] .framework-content[data-fw="js"] {
    display: block;
}
.frameworks-container[data-active-fw="react"] .framework-content[data-fw="react"] {
    display: block;
}
.frameworks-container[data-active-fw="angular"] .framework-content[data-fw="angular"] {
    display: block;
}
.frameworks-container[data-active-fw="vue"] .framework-content[data-fw="vue"] {
    display: block;
}
.frameworks-container[data-active-fw="svelte"] .framework-content[data-fw="svelte"] {
    display: block;
}

.framework {
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #9eb5e733;
    transition: transform 0.3s;
}

.framework:not(.active) {
    filter: sepia(100%) hue-rotate(170deg) brightness(0.8) saturate(1.2);
}

.framework:hover {
    filter: none;
    transform: scale(1.05);
    background-color: #c3d5fb67;    
}

h2 {
    font-size: 3rem;
}


h5 {
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

a {
    color: #ACAFBA;
    text-decoration: none;
    line-height: 150%;
}

a:hover {
    color: #0053FE;
}

.footer {
    padding: 4rem 0rem;
}