.sidebar {
    flex: 0 1 200px;
    padding: 1rem;
    border-right: 1px solid #E9EAEB;
    align-self: stretch;
}

.nav {
    list-style-type: none;
    padding-inline-start: 0;
    position: sticky;
    top: 2rem;
}

.nav a {
    text-decoration: none;
}

.nav-section {
    font-size: 1rem;
}

.nav-link {
    font-size: 0.8rem;
    color: #7B7D82;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
}

.nav-link:hover {
    color: #7B7D82;
    background-color: #E9EAEB;
}

.nav-link.active {
    font-weight: 600;
    color: #0053FE;
}