@use "../../shared/colors";

.arc-slider-container {
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

.arc-slider-label {
	font-weight: 500;
	font-size: 1rem;
	color: colors.$color-slate-60;
}



.arc-slider-bar {
    width: 100%;
    height:4px;
    border-radius: 99px;
    background-color: #E9EAEB;
    position: relative;
}

.arc-slider {
    padding: 0.5rem 0;
    cursor: pointer;
}

.arc-disabled .arc-slider {
    cursor: not-allowed;
}


.arc-slider-handle {
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%);
	border: 1px solid #C7C9D1;
    border-radius: 99px;
}

.arc-slider-container:hover:not(.arc-disabled) .arc-slider-handle {
    border: 1px solid #0053FE;
}

.arc-slider-active .arc-slider-handle {
    background-color: #0053FE;
    border: 1px solid #0053FE;
}

.arc-slider-fill {
    height:100%;
    border-radius:99px;
    background-color: #6698FE;
    position: absolute;
}


// DISABLED
.arc-disabled .arc-slider-fill {
    background-color: #A7A8AC;
}

.arc-disabled .arc-slider-bar {
    background-color: #E9EAEB;
}

.arc-disabled .arc-slider-handle {
    background-color: #F2F2F4;
    border-color: #C7C9D1;
}